/* $Id: common.css,v 1.8 2004/09/20 14:36:53 unconed Exp $ */

/*
** HTML elements
*/
a, a:link, a:active {
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  margin: 0;
  padding: 40px;
  font-size: .9em;
  line-height: 1.3em;
}
blockquote {
  font-style: italic;
}
table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}
code, pre {
 font-size: 1em;
}
pre {
 font-size: 0.8em;
 padding: 1em;
 background: #eee;
}
li {
 padding-bottom: .3em;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .25em;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1.1em;
}
h4, h5, h6 {
  font-size: 1em;
}
p {
  margin: 0 0 .5em 0;
}

/*
** Page layout blocks / IDs
*/
#help {
  font-size: 0.8em;
}

/*
** Common declarations for child classes of node, comment, block, box etc
*/
.title {
  margin: 0 0 .25em 0;
}
.content {
  margin: 0 0 .5em 0;
}
.links {
  font-size: 0.8em;
  line-height: 1.25em;
}
.messages {
  padding: 0.3em;
  margin: 0.5em 0em 0.5em 0em;
}
.status {
  border: 1px solid #3a3;
  color: #3a3;
}
.error, form-item input.error {
  border: 1px solid red;
  color: red;
}

/*
** Common navigation links added on the admin/themes/settings page
*/
.navlinks {
  padding: 0em 0.5em 1.5em 0em;
  clear: both;
}
.primary a {
  font-size: 1.0em;
  padding: 0em 0.5em 0em 0em;
}
.secondary a {
  font-size: 0.9em;
  padding: 0em 0.5em 0em 0em;
}

/*
** Module specific styles
*/
.form-item textarea {
  font-size: 1em;
}
#aggregator .feed {
  border: 1px solid gray;
  padding: 1em;
}
