/* $Id: style.css,v 1.2 2004/08/20 09:34:52 dries Exp $ */


/*
** my style elements
**
*/
body, p, form, input, select, label, textarea, li, div, td{
  font:             11px Tahoma, Arial, Helvetica, sans-serif;
}

#site {
  background:       #8dbef8 url(bg.jpg) fixed repeat-x;
  border:           1px #f77e4a solid;
  padding:          9px;
  margin:           0;
  width:            622px;
}

body {
  background: #7cadf8;
  font-family: tahoma, verdana, arial, helvetica;
}

#rightcell {
 padding-left:     12px;
 width:            160px;
}

#header {
 padding-bottom:   11px;
}

/*
** all block styles
*/
div.block {
  margin-bottom: 12px;
  padding: 5px;
  background-color: #f8c880;
  border: 1px solid black;
}

div.block .title {
  font-size: 11px;
  font-weight: bold;
  color: #f82038;
}

div.block .content {
  
}

/*
div.block a {
  font-weight: normal;
}*/

div.user-login-block {
  text-align:        left;
}

/*
** HTML elements
*/
a, a:link, a:active, a:visited {
  color:        #f82038;
  font-weight:  bold;
}
ul {
  list-style-type: disc;
}


/*
** comment
*/
.comment h3 a{
  text-decoration: none;
  font-size: 11px;
}



/*
** Common declarations for child classes of node, comment, block, box etc
*/
.links{
  margin-top:     3px;
  margin-bottom:  3px;
  text-align:     right;
  font-size:      10px;
}

.links a {
  font-weight: normal;
  text-decoration: underline;
}

.links a:hover {
  text-decoration: none;
}
.comment .content, .menu {
  font-size: 0.9em;
}

/*
** Module specific styles
*/
.item-list ul li {
  list-style: square;
}
#aggregator .source {
  color: gray;
  font-style: italic;
  font-size: 0.9em;
}


/*
** special k
*/

#footer, #footer a{
 color:             #FFFFFF;
 font-size:         11px;
 padding-top:       6px;
 text-align:        center;
 font-weight:       normal;
 text-decoration:   none;
}

#footer a {
 border-bottom:     1px dotted #FFFFFF;
}

#footer a:hover {
 border-bottom: none;
}


.breadcrumb a{
  font-weight: normal;
}


/*
** special k login box
*/
.user-login-block input{
  border: 1px solid #f82038;
  margin: 1px;
}

.user-login-block .form-text,  .user-login-block .form-password {
  padding-left: 3px;
}

.user-login-block .form-submit {
  background-color: #FFFFFF;
  color: black;
}

.block-user .create-account{
  text-align: right;
}

.block-user .create-account a{
  color: #f82038;
}

/*
** Node format
*/
.node {
  margin-bottom: 14px;
}



.node .title, .node .title a {
  font-size:   11px;
  text-decoration: none;
  font-weight: bold;
  color:       #f82038;
}

.sticky .title, .sticky .title a {
  font-size:   11px;
  text-decoration: none;
  font-weight: bold;
  color:       #284880;
}

.sticky a {
  color:       #284880;
}


div.sticky{
  margin-bottom: 12px;
  padding: 5px;
  background-color: #bed9f7;
  border: 1px solid black;
}